@import "../_variables";
$width: 1250px;

@media (min-width: 992px) {
  // -------------- Header ------------------
  header {
    .header-menu {
      @include desktop-max-w;
      margin: auto;
    }
  }
  // -------------- Main ------------------
  main {
    .main-image {
      @include desktop-max-w;
      margin: auto;
      img {
        @media (min-width: 1251px) {
          border-radius: 100px 100px 0 0;
        }
      }
    }
    .menu {
      @include desktop-max-w;
      margin: auto;
      border-radius: 0;
    }
  }
  // -------------- Footer ---------------
  footer {
    .footer-info {
      @include desktop-max-w;
    }
  }
}
