// all menue's mobile styles
@import "../variables";

* {
  box-sizing: border-box;
}

// -------------- body / general ---------------
body {
  font-family: $font-roboto;
  box-sizing: border-box;
  width: 100vw;
  max-width: 100%;
  position: relative;
}

// -------------- Header ---------------

header {
  width: 100vw;
  position: fixed;
  top: 0;
  padding-top: 20px;
  padding-bottom: 10px;
  background-color: white;
  z-index: 1;

  .header-menu {
    @include flex(center, row);
    @include mobile-max-w;
    a {
      text-decoration: unset;
      p {
        color: black;
        width: 50px;
        margin: 0;
        font-size: 30px;
        font-weight: 900;
      }
    }

    .logo {
      font-family: $font-Shrikhand;
      margin: auto;
      font-size: 2rem;
      width: 100%;
      text-align: center;
    }
  }
}
// -------------- Main ------------------
main {
  position: relative;
  margin-top: 20px;
  // -------------- Main - IMAGE ------------------
  .main-image {
    z-index: -1;
    height: 300px;
    padding-top: 40px;
    img {
      height: 100%;

      width: 100%;
      object-fit: cover;
    }
    // -------------- Main - Title - Fav Icon ------------------
  }
  // -------------- Menu Section ------------------
  .menu {
    position: relative;
    margin-top: -40px;
    z-index: 0;
    padding: 30px 0;
    border-radius: 30px 30px 0 0px;
    background-color: $light-gray;

    .title-restaurant {
      @include mobile-max-w;
      position: relative;
      p {
        margin: 0;
        font-size: 24px;
        font-family: $font-Shrikhand;
      }
      button {
        background-color: inherit;
        border: none;
      }
      .fav-icon {
        position: absolute;
        top: 5px;
        right: 15px;

        .heart {
          position: relative;
          width: 30px;
          height: 30px;

          fill: transparent;
          :hover,
          :active {
            animation: opacity 0.4s ease-in;
            fill: url(#gradient);
            stroke: #ffffff;
            cursor: pointer;
          }

          @keyframes opacity {
            100% {
              opacity: 1;
            }
            50% {
              opacity: 0.5;
            }
            0% {
              opacity: 0;
            }
          }
        }
      }
    }
    // -------------- Menu Items------------------
    .menu-list {
      @include mobile-max-w;
      // -------------- Menu ENTREES------------------
      .entrees {
        .entrees-menu {
          // -------------- Menu ENTREES container ------------------
          .entrees-menu-container {
            &:hover {
              cursor: pointer;
            }
            &:hover .entrees-menu-checkbox {
              transform: translateX(-100%);
              transition: transform 0.8s ease;
              i {
                transform: rotate(350deg);
                transition: transform 0.8s ease;
              }
            }
            &:not(:hover) .entrees-menu-checkbox {
              transition: transform 0.8s ease;
            }

            &:hover .entrees-menu-text {
              flex-basis: 85%;
            }
            &:not(:hover).entrees-menu-text {
              flex-basis: 100%;
              transition: flex-basis 1s ease;
            }
            margin: 16px 0;
            background-color: white;
            border-radius: 10px;
            overflow: hidden;
            position: relative;
            height: 100%;
            width: 100%;
            @include flex(flex-start, row);
            @include shadow-menu-container;

            .entrees-menu-text {
              flex-basis: 100%;
              @include flex(flex-start, column);
              align-items: unset;
              p {
                padding: 12px 0 10px 10px;
                margin: 0;
                font-size: 17px;
              }
              .entrees-menu-text-bottom {
                width: 100%;
                @include flex(space-between, row);
                p {
                  font-size: 15px;
                  font-weight: 300;
                  padding: 0px 15px 12px 10px;
                }
                strong {
                  font-weight: 700;
                }
              }
            }

            .entrees-menu-checkbox {
              position: absolute;
              right: -60px;
              background-color: $green;
              text-align: center;
              height: 100%;
              width: 60px;

              i {
                position: absolute;
                top: 35%;
                left: 35%;
                transform: translate(-35%, -35%);
                transform: rotate(50deg);
                font-size: 20px;
              }
            }
          }
        }
      }
    }
  }
}

// -------------- Footer ---------------
footer {
  margin-top: 30px;
  width: 100%;
  background-color: $light-dark;
  color: white;
  padding: 20px 0 40px 0;

  p {
    font-size: 22px;
    color: white;
    font-family: $font-Shrikhand;
    letter-spacing: 1px;
  }
  .footer-info {
    @include mobile-max-w;
    padding-left: 25px;
    margin: 0;
    .footer-into-links {
      @include flex(start, column);
      align-items: start;
    }
    a {
      margin: 5px 0;
      text-decoration: none;
      color: white;
      i {
        padding-right: 10px;
      }
    }
  }
}
// -------------- Imports media ---------------

@import "./_styles-menu-tablet";
@import "./_styles-menu-desktop";
