// all menue's mobile styles
@import "../variables";

* {
  box-sizing: border-box;
}

// -------------- body / general ---------------
body {
  font-family: $font-roboto;
  box-sizing: border-box;
  width: 100vw;
  max-width: 100%;
  position: relative;
}

// -------------- Header ---------------

header {
  width: 100vw;
  position: fixed;
  top: 0;
  padding-top: 20px;
  padding-bottom: 10px;
  background-color: white;
  z-index: 1;

  .header-menu {
    @include flex(center, row);
    @include mobile-max-w;
    a {
      text-decoration: unset;
      p {
        color: black;
        width: 50px;
        margin: 0;
        font-size: 30px;
        font-weight: 900;
      }
    }

    .logo {
      font-family: $font-Shrikhand;
      margin: auto;
      font-size: 2rem;
      width: 100%;
      text-align: center;
    }
  }
}
// -------------- Main ------------------
main {
  position: relative;
  margin-top: 20px;
  // -------------- Main - IMAGE ------------------
  .main-image {
    z-index: -1;
    height: 300px;
    padding-top: 40px;
    img {
      height: 100%;

      width: 100%;
      object-fit: cover;
    }
    // -------------- Main - Title - Fav Icon ------------------
  }
  // -------------- Menu Section ------------------
  .menu {
    position: relative;
    margin-top: -40px;
    z-index: 0;
    padding: 30px 0;
    border-radius: 30px 30px 0 0px;
    background-color: $light-gray;

    .title-restaurant {
      @include mobile-max-w;
      position: relative;
      margin: auto;
      p {
        margin: 0;
        font-size: 24px;
        font-family: $font-Shrikhand;
      }
      button {
        background-color: inherit;
        border: none;
      }
      .fav-icon {
        position: absolute;
        top: 5px;
        right: 20px;

        .heart {
          position: relative;
          width: 30px;
          height: 30px;

          fill: transparent;
          :hover,
          :active {
            animation: opacity 0.4s ease-in;
            fill: url(#gradient);
            stroke: #ffffff;
            cursor: pointer;
          }

          @keyframes opacity {
            100% {
              opacity: 1;
            }
            50% {
              opacity: 0.5;
            }
            0% {
              opacity: 0;
            }
          }
        }
      }
    }
    // -------------- Menu Items------------------
    .menu-list {
      @include mobile-max-w;
      // -------------- Menu ENTREES------------------
      .entrees {
        p {
          font-size: 20px;
          font-weight: 300;
          letter-spacing: 0.7px;
        }
        .entrees-menu {
          // -------------- Menu ENTREES BOX ------------------
          .menu-container {
            position: relative;
            width: 470px;
            overflow: hidden;
            background-color: white;
            @include flex(space-between, row);
            @include shadow-menu-container;
            border-radius: 18px;
            &:hover {
              cursor: pointer;
            }
            // -------------- Item BOX text side hover------------------
            &:hover .menu-text-container {
              width: 77%;
              transition: width 0.8s ease;
            }
            &:not(:hover) .menu-text-container {
              width: 100%;
              transition: width 0.8s ease;
            }
            // -------------- Item BOX checkbox hover------------------
            &:hover .menu-checkbox {
              transform: translateX(-100%);
              transition: transform 0.8s ease;
              .menu-checkbox-icon i {
                transform: rotate(350deg);
                transition: transform 0.8s ease;
              }
            }
            &:not(:hover) .menu-checkbox {
              transition: transform 0.8s ease;
              .menu-checkbox-icon i {
                transform: rotate(0deg);
              }
            }

            .menu-text-container {
              width: 100%;
              padding: 15px 0;
              padding-left: 10px;
              @include flex(space-between, row);

              .menu-text {
                max-width: 85%;
                h3 {
                  overflow: hidden;
                  text-overflow: ellipsis;
                  white-space: nowrap;
                  margin: 0;
                  padding: 0;
                }
                p {
                  overflow: hidden;
                  text-overflow: ellipsis;
                  white-space: nowrap;
                  margin: 0;
                  padding: 5px 0;
                  font-size: 15px;
                }
              }
              .price {
                width: 20px;
                font-weight: 500;
                font-size: 18px;
                padding-right: 10px;
                margin-right: 20px;
              }
            }

            .menu-checkbox {
              width: 80px;
              position: fix;
              align-self: stretch;
              background-color: $green;
              padding: 0;
              margin: 0;
              margin-right: -80px;
              .menu-checkbox-icon {
                position: relative;
                height: 100%;
                i {
                  top: 35%;
                  right: 30%;
                  transform: rotate(50deg);
                  font-size: 30px;
                  position: absolute;
                }
              }
            }
          }
        }
      }
    }
  }
}

// -------------- Footer ---------------
footer {
  margin-top: 30px;
  width: 100%;
  background-color: $light-dark;
  color: white;
  padding: 20px 0 40px 0;

  p {
    font-size: 22px;
    color: white;
    font-family: $font-Shrikhand;
    letter-spacing: 1px;
  }
  .footer-info {
    @include mobile-max-w;
    padding-left: 25px;
    margin: 0;
    .footer-into-links {
      @include flex(start, column);
      align-items: start;
    }
    a {
      margin: 5px 0;
      text-decoration: none;
      color: white;
      i {
        padding-right: 10px;
      }
    }
  }
}
// -------------- Imports media ---------------

@import "./_styles-menu-tablet";
@import "./_styles-menu-desktop";
